.coverpage_page {
	page: coverpage;
	prince-page-group: start;
}

.main_pages {
	page: main_pages;
	counter-reset: page 1;
	prince-page-group: start;
	prince-start-page: right;
}

/* TABLES */

.table-light {
	border-collapse: collapse;
	width: 100%;
	margin: 30px 0;
}

.table-cell-light {
	background-color: #ffffff;
	outline: none;
	width: 75px;
	word-wrap: break-word;
	padding: 6px 8px;
	vertical-align: top;
	text-align: start;
}

th,
td,
tr {
	border: 1px solid #575757;
}

.table-cell-header-light {
	background-color: rgb(245, 245, 245);
	text-align: start;
}

/* PROJECT DOCUMENT PAGE LAYOUT */

.project_document_body {
	max-width: 190mm;
}

/* PROJECT DOCUMENT COVER PAGE */

.project_document_doc_kind_text {
	font-size: 20px;
	font-weight: 900;
	line-height: 14px;
	margin: 16px 0;
	margin-top: 100px;
	text-align: center;

	/* font-family: "Red Hat Display"; */
}

.project_document_date_text {
	font-size: 14px;
	line-height: 14px;
	margin-top: 16px;
	text-align: center;
	color: rgb(71, 71, 71);
}

.project_document_title_link {
	text-decoration: none;
}

.project_document_title_h1 {
	color: rgb(0, 102, 204);
	font-size: 24px !important;
	font-weight: 400;
	padding: 0px;
	padding-left: 60px;
	padding-right: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	cursor: pointer;

	text-align: center;
	/* text-align: justify; */
	/* text-justify: inter-word; */
	/* text-wrap: balance;
    -prince-text-wrap: balance; */
}

.project_document_project_image_container {
	width: 500px;
	height: 300px;
	overflow: hidden;
	border-radius: 25px;
	margin: 36px auto;
	/* margin: 0 auto; */
	position: relative;
}

.project_document_project_image {
	display: block;
	outline: none;
	border: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.project_document_service_h1 {
	/* color: rgb(0, 0, 0); */
	color: rgb(48, 48, 48);

	font-size: 16px;
	font-style: bold;
	font-weight: 700;
	text-align: center;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 0;
	/* margin-bottom: 30px;  */
	margin-left: 0px;
	margin-right: 0px;
}

.project_document_business_area_h1 {
	/* color: rgb(0, 0, 0); */
	color: rgb(71, 71, 71);

	font-size: 16px;
	font-style: bold;
	font-weight: 600;
	text-align: center;
	padding: 0px;
	margin: 0px;
	margin-bottom: 5px;
}

.project_document_tag_h1 {
	/* color: rgb(0, 0, 0); */
	color: rgb(71, 71, 71);

	font-size: 14px;
	font-weight: 700;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.project_document_team_container {
	/* justify-content: center; */
}

.project_document_team_h1 {
	color: rgb(48, 48, 48);
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	text-wrap: balance;

	padding: 0px;
	margin-top: 40px;
	margin-bottom: 2px;
	padding-bottom: 2px;
	margin-left: 0px;
	margin-right: 0px;
}

.project_document_team_member_text {
	color: rgb(48, 48, 48);
	/* background-color: red; */
	padding: 0px;
	margin: 0 180px;

	font-size: 14px;
	font-weight: 400;

	text-align: center;

	/* NOT SUPPORTED IN PRINCE */
	/* text-wrap: balance;
    -prince-text-wrap: balance;  */
}

.project_document_approvals_container {
	justify-content: flex-end;
	display: flex;
	align-items: center;
	/* padding-bottom: 25px; */
	-prince-float: bottom;
	-prince-float-reference: page;
}

.project_document_approvals_subcontainer {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.project_document_approvals_row {
	display: flex;
	align-items: center;
}

.project_document_approvals_text {
	font-size: 14px;
	line-height: 14px;
	margin: 0px;
	color: rgb(75, 75, 75);
	font-weight: 700;
	text-align: right;
}

.project_document_approvals_svg_container {
	margin-left: 8px;
}

.project_document_approvals_svg {
	height: 25px;
	width: 25px;
}

/* PROJECT DOCUMENT DATA */

.project_document_data_container {
	margin-top: 32px;
	margin-bottom: 32px;
	max-width: 190mm;
	break-before: page;
}

.project_document_section_data_container {
	text-align: left;
	margin-bottom: 30px;
	page-break-inside: avoid; /* Avoid breaking inside the elements */
}

.project_document_section_data_container * {
	font-size: 14px;
}

.project_document_section_title_container {
	page-break-inside: avoid; /* Prevent splitting the hr and title */
}

.project_document_section_h1_title {
	color: rgb(46, 46, 46);
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 8px;
}

.project_document_section_h1_title_hr {
	margin: 0;
	padding: 0;
	margin-bottom: -5px;
	height: 0.01px;
	background-color: #cccccc;
	border: none;
}
.project_document_section_content_container * {
	page-break-before: auto;
	text-align: justify !important;
}

/* Override text alignment for tables and their children */
.project_document_section_content_container table,
.project_document_section_content_container table * {
	text-align: initial !important; /* or left, center, right, depending on your preference */
}

.project_document_view_project_container {
	text-align: right;
	margin-top: 32px;
	margin-bottom: 32px;
}

.project_document_view_project_link {
	line-height: 100%;
	text-decoration: none;
	display: inline-block;
	max-width: 100%;
	background-color: rgb(0, 0, 0);
	border-radius: 0.25rem;
	color: rgb(255, 255, 255);
	font-size: 12px;
	font-weight: 600;
	text-decoration-line: none;
	text-align: center;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	padding: 12px 20px 12px 20px;
}

.meth_image_container {
	width: 100%;
	overflow: hidden;
	border-radius: 10px;
	margin-top: 30px;
}

.meth_image {
	width: 100%;
}

/* Lists */

li {
	padding-left: 1px !important; /* Adds some padding for readability */
	line-height: 16px !important;
}

ol,
ul {
	margin: 0 !important;
	padding: 0 !important;
	margin-top: 15px !important;

}
