files/
*.tif
*.sql
*.git
README.md
.unlighthouse/
.git/
.github/
.github
.gitignore
.gitattributes
.dockerignore
Dockerfile
docker-compose.yaml
docker-compose.yml
*.pgdump
spms_media_data

*.env
*.production
*.staging
publish-ghcr.yaml
render.yaml
venv
deployment.yaml
extracted_table_data
*.csv
*.dump
*.sql
*.env
extract_data.py
build.sh