<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" href="{{rte_css_path}}"> {% endcomment %}
    <link rel="stylesheet" href="{{prince_css_path}}">
    <style>
        @page {
            @top-left {
                border-bottom: 0.25pt solid #666;
                font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                font-size: 10pt;
                margin: 0 0 0.3cm 0;
                padding: 0;

            }

            @bottom-left {
                border-top: 0.25pt solid #666;
                content: string(doctitle);
                font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                font-size: 10pt;
                margin: 1cm 0 0 0;
                padding: 0;

            }

            @bottom-right {
                border-top: 0.25pt solid #666;
                content: "Page " counter(page) " of " counter(pages);
                font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                font-size: 10pt;
                margin: 1cm 0 0 0;
                padding: 0;
            }
        }

        @page ba-animal-science {
            position: absolute;
            top: 0;
            left: 0;
        }

        .footer-image {
            bottom: 0;
            left: 0;
            display: block;
            width: 200px;
            height: auto;
            margin-right: 5px;
        }

        .header-text {
            font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 10pt;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body class="page_body"> 
    <div class="prince_blocker">
        <p>Generated {{time_generated}}</p>
        <p>Template populated in {{population_time}} seconds</p>
    </div>
    {% comment %} COVER {% endcomment %}
    <div class="section_container">
        <div class="cover_title_container">
            <p class="cover_dept_text_1">Department of </p>
            <p class="cover_dept_text_2">Biodiversity, Conservation and Attractions</p>
            <p class="cover_dept_text_3">Biodiversity and Conservation Science<br/>Annual Report</p>
            <p class="cover_year_text">{{financial_year_string}}</p>    
        </div>
        <div class="cover_logo_container">
            <img class="cover_logo" alt="DBCA BCS Image" 
            src="{{dbca_image_path}}"/>
        </div>
    </div>

    {% comment %} DM {% endcomment %}
    <div class="section_container">
        <div class="directors_message_section_title_container">
            <p class="directors_message_section_title">Executive Director's Message</p>
        </div>
        <div class="directors_message_container">
            {{ directors_message_data | safe}}
        </div>
    </div>

    {% comment %} TABLE OF CONTENTS {% endcomment %}
    <div class="section_container">
        <div class="table_of_contents_container">
            {% comment %} PRINCE GEN {% endcomment %}
        </div>
    </div> 

    
    {% comment %} SDS CHAPTER {% endcomment %}
    <div class="section_container">
        
        <div class="chapter_container">
            <div class="chapter_title_container">
                <div class="chapter_image_container">
                    <img 
                        class="chapter_image"
                        alt="Service Delivery Structure Chapter Image" 
                        src="{{sds_data.chapter_image}}"
                    />
                </div>
                <div class="chapter_title_text_container">
                    <p class="chapter_title_text">Service Delivery Structure</p>
                </div>
            </div>
            <div class="section_content_container"> 
                {% comment %} SDS CHART {% endcomment %}
                <div class="sds_chart_image_container">
                    <img class="sds_chart_image" alt="BCS SDS Chart Image" 
                    src="{{server_url}}{{sds_data.chart}}"/>
                </div>
                {% comment %} SDS INTRO {% endcomment %}
                {% if not sds_data.intro == None %}
                    <div class="sds_intro_container">
                        {{sds_data.intro | safe}}
                    </div>
                {% endif %}

            </div>
        </div>

    </div>


    {% comment %} BA & THEIR REPORTS {% endcomment %}
    <div class="section_container">
        {% for ba in sorted_ba_data_and_pr_dict %}
            <div class="ba_chapter_container">

                <div class="chapter_title_container">
                    <div class="chapter_image_container">
                        <img 
                            class="chapter_image"
                            alt="{{ba.ba_name}} Image" 
                            src="{{server_url}}{{ba.ba_image.file}}"
                        />
                    </div>
                    <div class="chapter_title_text_container">
                        <p class="chapter_title_text">{{ba.ba_name}}</p>
                    </div>
                </div>

                <div class="ba_lead_text_container">
                    <span>
                        <p class="ba_leader_text">Business Area Leader: {{ba.ba_leader}}</p>
                        <div class="ba_introduction_text_container">
                            {{ ba.ba_introduction|safe }}
                        </div>
                    </span>
                </div>
    
                <div class="section_content_container"> 
                    {% for report in ba.progress_reports %}
                        <div class="progress_report_container">
                            <div class="progress_report_top_container">
                                <div class="pr_img_container">
                                    <img class="pr_image"
                                        alt="{{report.document.project.title}} Image"
                                        src="{{server_url}}{{report.document.project.image.file}}"
                                    />
                                </div>
                                <div class="pr_rhs">
                                    <div class="pr_title_container">
                                        {{report.document.project.title | safe}}
                                    </div>
                                    <div class="project_tag_container">
                                        <p class="project_tag_text">Tag: {% if report.document.project.kind == "science" %}SP{% elif report.document.project.kind == "student" %}STP{% elif report.document.project.kind == "core_function" %}CF{% elif report.document.project.kind == "external" %}EXT{% endif %}-{{report.document.project.year}}-{{report.document.project.number}}</p>
                                    </div>
                                    <div class="pr_member_container">
                                        <p class="pr_member_string">Team: {% for item in report.team_members|dictsort:"position" %}{% if not forloop.first %}, {% endif %}{{ item.user.first_name }} {{ item.user.last_name }}{% endfor %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="progress_report_bottom_container">
                                <div class="pr_subsection">
                                    {{report.context | safe}}
                                </div>
                                <div class="pr_subsection">
                                    {{report.aims | safe}}
                                </div>
                                <div class="pr_subsection">
                                    {{report.progress | safe}}
                                </div>
                                <div class="pr_subsection">
                                    {{report.implications | safe}}
                                </div>
                                <div class="pr_subsection">
                                    {{report.context | safe}}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        {% endfor %}
    </div>

    {% comment %} EXTERNAL PARTNERSHIPS CHAPTER{% endcomment %}
    <div class="section_container">
        <div class="chapter_container">
            <div class="chapter_title_container">
                <div class="chapter_image_container">
                    <img 
                        class="chapter_image"
                        alt="External Partnerships Image" 
                        src="{{generic_chapter_image_path}}"
                    />
                </div>
                <p class="chapter_title">External Partnerships</p>
            </div>
            <div class="section_content_container"> 
                {{external_partnerships_table_data | safe}}
            </div>
        </div>
    </div>

    {% comment %} STUDENT PROJECTS CHAPTER (TABLE) {% endcomment %}
    <div class="section_container">
        <div class="chapter_container">
            <div class="chapter_title_container">
                <div class="chapter_image_container">
                    <img 
                        class="chapter_image"
                        alt="Student Projects Image" 
                        src="{{generic_chapter_image_path}}"
                    />
                </div>
                <p class="chapter_title">Student Projects</p>
            </div>
            <div class="section_content_container"> 
                {{student_projects_table_data | safe}}
            </div>
        </div>
    </div>



    {% comment %} STUDENT REPORTS CHAPTER {% endcomment %}
    <div class="section_container">
        <div class="ba_chapter_container">
            <div class="section_content_container"> 
                {% for report in sorted_student_report_array %}
                    <div class="progress_report_container">
                        <div class="progress_report_top_container">
                            <div class="pr_img_container">
                                <img class="pr_image"
                                    alt="{{report.document.project.title}} Image"
                                    src="{{server_url}}{{report.document.project.image.file}}"
                                />
                            </div>
                            <div class="pr_rhs">
                                <div class="pr_title_container">
                                    {{report.document.project.title | safe}}
                                </div>
                                <div class="project_tag_container">
                                    <p class="project_tag_text">{{project_tag}}</p>
                                </div>
                                <div class="pr_member_container">
                                    <p class="pr_member_string">
                                        Scientist(s): {% for item in report.team_members %}{% if not item.role == "academicsuper" and not item.role == "student" %}{% if not forloop.first %}, {% endif %}{{item.user.first_name}} {{item.user.last_name}}{% endif %}{% endfor %}
                                    </p>
                                    <p class="pr_member_string">
                                        Student: {% for item in report.team_members %}{% if item.role == "student" %}{% if not forloop.first %}, {% endif %}{{item.user.first_name}} {{item.user.last_name}}{% endif %}{% endfor %}
                                    </p>
                                    <p class="pr_member_string">
                                        Academic(s): {% for item in report.team_members %}{% if item.role == "academicsuper" %}{% if not forloop.first %}, {% endif %}{{item.user.first_name}} {{item.user.last_name}}{% endif %}{% endfor %}
                                    </p>
                                    
                                </div>
    
                            </div>
                        </div>
                        <div class="progress_report_bottom_container">
                            <div class="pr_subsection">
                                {{report.progress_report | safe}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% comment %} PUBLICATIONS CHAPTER {% endcomment %}
    <div class="section_container">
        <div class="chapter_container">
            <div class="chapter_title_container">
                <div class="chapter_image_container">
                    <img 
                        class="chapter_image"
                        alt="Publications Image" 
                        src="{{generic_chapter_image_path}}"
                    />
                </div>
                <p class="chapter_title">Publications</p>
            </div>
            <div class="section_content_container"> 
                {{publications_data | safe}}
            </div>
        </div>
    </div>


    {% comment %} SUMMARY OF RESEARCH PROJECTS CHAPTER {% endcomment %}
    <div class="section_container">
        <div class="chapter_container">
            <div class="chapter_title_container">
                <div class="chapter_image_container">
                    <img 
                        class="chapter_image"
                        alt="Research Projects Image" 
                        src="{{generic_chapter_image_path}}"
                    />
                </div>
                <p class="chapter_title">Summary of Research Projects</p>
            </div>
            <div class="section_content_container"> 
                    {{research_projects_table_data | safe}}
            </div>
        </div>
</body>
</html>
